@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@plugin "daisyui";

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-18px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}


/* body {
  background-color: #09090b;
  color: white;
}  */
/* body {
  @apply bg-black text-white;
} */
